/*
    Name: Xander Sapiano
    File: style.css
    Date: 19 February 2026
    Community school homepage style rules.
*/
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}
/* Headings and Body */
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  text-align: center; 
  letter-spacing: 0.05em;
  margin-top: 0;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 0.04em;
}

body {
  font-family: "Merriweather", serif;
  font-size: 1rem; 
  line-height: 1.6;
  letter-spacing: 0.02em;
}

section h2 + p {
  text-indent: 2rem; 
}

a:link {
  color: #aa6666;          
  text-decoration: underline;
}

a:visited {
  color: #774444;          
  text-decoration: underline;
}
a:hover{
  color: #cc8888;          
  text-decoration: none;
}

a:focus {
  color: #cc8888;          
  text-decoration: none;
  outline: none;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.3em;
  background-image: url("external-link-52.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: baseline;
}
ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6; 
  padding-left: 2rem;  
} 
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6; 
  padding-left: 2rem; 
}

li {
  margin-bottom: 0.4rem; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 1rem;

}
 nav a {
  display: block;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #aa6666;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  text-decoration: none;
  border-radius: 4px;
  letter-spacing: 0.05em;
}

nav a:hover {
  background-color: #cc8888; 
  outline: none; 
}

nav a:focus {
  background-color: #cc8888; 
  outline: none; 
}