/*
	Name: Xander
	File: style.css
	Date: 17 February 2026
	Style rules for the biography.
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}
/*
Box styles
*/
body{
    padding: 20px;
    width: 500px;
    background-color: #efefef;
    margin: 0 auto;
}

ul{
    background-color: white;
    border: solid 5px purple;
    padding: 30px;
    border-radius: 20px;
}
/*
Text styles
*/
h1{
    color: darkslategray;
    border-bottom: dotted 10px purple;
    font-size: 2rem;
}
h2{
    font-style: italic;
    font-size: 1.5rem;
}
div{
    color: darkslategray;
    font-weight: bold;
}
a:link {color:green;}
a:hover {color:darkgreen; text-decoration: none;}
a:focus {color:darkgreen; text-decoration: none;}
