/*
	Name: Xander
	File: style.css
	Date: XX September 2026
	A very brief description of the file.
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}
/*
Box styles
*/
body{
    padding: 20px;
    width: 500px;
    background-color: #efefef;
    margin: 0 auto;
}

ul{
    background-color: white;
    border: solid 5px purple;
    padding: 30px;
    border-radius: 20px;
}
